export(ARCH)
export(ARCH.optimal.logpdf)
export(ARCH.optimal.params)
export(ARCH.optimal.rnd)
export(CPFSAEM)
export(CPFSGgrowth)
export(CV)
export(ESS)
export(MH)
export(MultinomialR)
export(NoisyAR)
export(ParticleEM)
export(ParticleMarginalMH)
export(ParticleSAEM)
export(ParticleSGGrowth)
export(Stovol)
export(in.support.NoisyAR)
export(loclike.logpdf)
export(loclike.logpdf.NoisyAR)
export(normalized.exponential)
export(random.walk)
export(simulate.data)
export(sis)
export(siskernel)
exportPattern("^[[:alpha:]]+")
import(FKF)
import(astsa)
import(mvtnorm)
import(plyr)
